.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 162px;
  height: 41px;
  background-color: #4E596F;
  color: whitesmoke;
  font-size: 13px;
  letter-spacing: 1.6px;
  cursor: pointer;
  font-family: Montserrat, sans-serif;


  button, button:focus{
    background: transparent;
    border: 1px solid transparent;
    outline: 0;
  }

  button:active{
    outline: 0;
    background: transparent;
    border: 1px solid transparent;
  }

  //button:active{
  //  outline: 0;
  //  background: transparent;
  //  border: 1px solid transparent;
  //}
}