h1 {
  font-size: 61px;
  font-weight: 400;
}

h2 {
  font-size: 49px;
  font-weight: 400;
}

h3 {
  font-size: 39px;
  font-weight: 400;
}

h4 {
  font-size: 31px;
  font-weight: 400;
}

h5 {
  font-size:12px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 400;
}

a {
  font-size: 12px;
}

small {
  font-size: 12px;
}

label {
  font-size: 14px;
  font-weight: 400;
}
