.header {
  display: flex;
  width: 100%;
  border: 1px solid white;
  justify-content: flex-end;
  background-color: black;
  height: 80px;
  //position: fixed;
  z-index: 2;
  top: 0;

  //&__title {
  //
  //}

  &__nav-items {
    display: flex;
    align-items: center;
    //justify-content: center;
    margin-right: 50px;
    color: white;

    &__actions {
      display: flex;
      align-items: center;
    }

    //> ul {
    //  display: block;
    //  justify-content: right;
    //
    //  li + li {
    //    margin-left: 5rem;
    //  }
    //}
    //

    //
    //&__children {
    //  //display: none;
    //
    //  display: block;
    }
}
