.header {
  display: flex;
  width: 1438px;
  border: 1px solid white;
  justify-content: flex-end;
  background-color: #1F1F1F;
  height: 80px;
  //position: relative;
  z-index: 2;
  top: 0;

  &__title {
    margin-right: 25px;
    font-family: Montserrat, sans-serif;
  }

  &__nav-items {
    display: flex;
    align-items: center;
    margin-right: 50px;
    color: white;

    &__actions {
      display: flex;
      align-items: center;
    }

    //> ul {
    //  display: block;
    //  justify-content: right;
    //
    //  li + li {
    //    margin-left: 5rem;
    //  }
    //}
    //

    //
    //&__children {
    //  //display: none;
    //
    //  display: block;
    }
}
