.sidebar {
  display: flex;
  background-color: #1F1F1F;
  border: solid 1px white;
  z-index: 1;
  width: 280px;
  height: 794px;
  position: fixed;
  flex-direction: column;

  &__items {
    margin-top: 60px;
    margin-left: 60px;
  }

  &__logo {
    padding-left: 47px;
    padding-top: 32px;
  }
}

.sidebar-item {
  display: flex;
  margin-bottom: 45px;
  color: white;

  & > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 15px;

    & > svg {
      margin-right: 35px;
    }
  }
}