.dashboard {
  display: flex;
  //align-items: flex-end;
  width: 1161px;
  height: 713px;
  background-color: #1F1F1F;
  margin-left: 278px;


  &__actions {

  }

  &__header {

  }

  &__title {
    color: white;
    margin: 80px 0 0 150px ;
    //margin-left: 10px;
    font-size: 45px;
  }

  &__cards {

  }
}