.dashboard {
  display: flex;
  width: 1040px;
  height: 713px;
  background-color: #1F1F1F;
  padding-top: 60px;
  padding-left: 100px;
  margin-left: 200px;
  position: fixed;

  //flex-direction: row;

  &__actions {

  }

  &__header {

  }

  &__title {
    color: white;
    margin-bottom: 40px;
    font-size: 60px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
  }
}