.dashboard {
  display: flex;
  //align-items: flex-end;
  width: 1201px;
  height: 713px;
  background-color: #1F1F1F;
  margin-left: 260px;
  position: fixed;


  &__actions {

  }

  &__header {

  }

  &__title {
    color: white;
    margin: 100px 0 0 80px ;
    font-size: 45px;
  }

  &__cards {
    display: flex;
    flex-direction: row;
  }
}