.dashboard-card {
  display: flex;
  width: 240px;
  height: 270px;
  border: solid 1px #FEFEFE;
  padding: 40px 56px 40px 40px;

  flex-direction: column;

  &__detail {
    display: flex;
  }

  &__title {
    margin-bottom: 30px;
    padding-left: 18px;
    color: #FEFEFE;
  }

  &__icon {
    padding-top: 3px;
  }

  &__action {
    //display: flex;
    //margin-top: 220px;
    //margin-left: 40px;
    text-decoration: none;
  }

  & > p {
    color: #FEFEFE;
    font-size: 18px;
    line-height: 200%;
  }

  & > .button {
    margin-top: 50px;
  }
}