.transaction {
  width: 1139px;
  height: 653px;
  background-color: #1F1F1F;
  padding-top: 80px;
  padding-left: 130px;
  margin-left: 200px;
  position: fixed;

  &__title {
    color: white;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
  }

  &__content {
    display: flex;
    margin-left: -45px;
    justify-content: left;
    flex-direction: column;

    &-money {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
    }

    &-type {
      display: flex;
      flex-direction: row;
    }

    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-right: 710px;
      margin-top: 70px;
      margin-bottom: 40px;
    }

    &-view {
      margin-left: 50px;
    }

    .input {
      padding-top: 20px;
      margin-top: 10px;
    }
  }
}